#quiz-question-2-row{
  display: none;
}

#quiz-question-3-row{
  display: none;
}

#quiz-question-4-row{
  display: none;
}

#quiz-question-5-row{
  display: none;
}

#quiz-submit-button{
  display: none;
}

#answer-card-1{
  display: none;
}

#answer-card-2{
  display: none;
}

#answer-card-3{
  display: none;
}
